<div ng-controller="projectsCtrl">
    <div>

        <table id="cardTable"  class="col-md-10 col-md-offset-1 table-borderedtable-condensed projectsTable cf">
            <thead class="cf">
            <thead class="blackBorder">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Is Billable</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody id="projectTableBody" class="blackBorder">

               
                <tr ng-repeat="project in projects" class="clickableRow"  ng-dblclick="editToggle(project.pk)">
                    <td>
                    <span ng-if="selectedPk == project.pk">
                        <input class="selectedInput" type="text" ng-model="project.title" />
                    </span>
                    <span ng-if="selectedPk != project.pk">
                        {{project.title}}
                    </span>
                    </td>
                    <td>
                        <span ng-if="selectedPk == project.pk">
                            <input class="selectedInput" type="text" ng-model="project.description" />
                        </span>
                        <span ng-if="selectedPk != project.pk">
                            {{project.description}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="selectedPk == project.pk">
                            <input class="selectedInput" type="text" ng-model="project.start_date" />
                        </span>
                        <span ng-if="selectedPk != project.pk">
                            {{project.start_date}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="selectedPk == project.pk">
                            <input class="selectedInput" type="text" ng-model="project.end_date" />
                        </span>
                        <span ng-if="selectedPk != project.pk">
                            {{project.end_date}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="selectedPk == project.pk">
                            <input class="selectedInput" type="text" ng-model="project.is_billable" />
                        </span>
                        <span ng-if="selectedPk != project.pk">
                            {{project.is_billable}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="selectedPk == project.pk">
                            <input class="selectedInput" type="text" ng-model="project.is_active" />
                        </span>
                        <span ng-if="selectedPk != project.pk">
                            {{project.is_active}}
                        </span>
                    </td>
                </tr>
                <tr class="hidden">
                    <td>
                        <span>
                            <input class="selectedInput" type="text" ng-model="project.title" />
                        </span>
                        </td>
                    <td>
                        <span >
                            <input class="selectedInput" type="text" ng-model="project.description" />
                        </span>
                    </td>
                    <td>
                        <span >
                            <input class="selectedInput" type="text" ng-model="project.start_date" />
                        </span>
                    </td>
                    <td>
                        <span >
                            <input class="selectedInput" type="text" ng-model="project.end_date" />
                        </span>
                    </td>
                    <td>
                        <span >
                            <input class="selectedInput" type="text"  />
                        </span>
                    </td>
                    <td>
                        <span>
                            <input class="selectedInput" type="text"  />
                        </span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div id="tasksContainer">

    </div>
</div>