<div ng-controller="projectsCtrl">
    <div>

        <table id="cardTable"  class="col-md-10 col-md-offset-1 table-borderedtable-condensed projectsTable cf">
            <thead class="cf">
            <thead class="blackBorder">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Is Billable</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody id="projectTableBody" class="blackBorder">

               
                <tr ng-repeat="project in projects" class="clickableRow" ng-class="{'selectedRow': selectedPk==project.pk && state == 0}" ng-click="selectToggle(project.pk)"  ng-dblclick="editToggle(project.pk)">
                    <td>
                    <span ng-if="editPk == project.pk">
                        <input class="selectedInput" type="text" ng-model="project.title" />
                    </span>
                    <span ng-if="editPk != project.pk">
                        {{project.title}}
                    </span>
                    </td>
                    <td>
                        <span ng-if="editPk == project.pk">
                            <input class="selectedInput" type="text" ng-model="project.description" />
                        </span>
                        <span ng-if="editPk != project.pk">
                            {{project.description}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="editPk == project.pk">
                            <input class="selectedInput" type="text" ng-model="project.start_date" />
                        </span>
                        <span ng-if="editPk != project.pk">
                            {{project.start_date}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="editPk == project.pk">
                            <input class="selectedInput" type="text" ng-model="project.end_date" />
                        </span>
                        <span ng-if="editPk != project.pk">
                            {{project.end_date}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="editPk == project.pk">
                            <input class="selectedInput" type="text" ng-model="project.is_billable" />
                        </span>
                        <span ng-if="editPk != project.pk">
                            {{project.is_billable}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="editPk == project.pk">
                            <input class="selectedInput" type="text" ng-model="project.is_active" />
                        </span>
                        <span ng-if="editPk != project.pk">
                            {{project.is_active}}
                        </span>
                    </td>
                </tr>
                <tr ng-if="state == 3">
                    <td>
                        <span>
                            <input class="selectedInput" type="text" ng-model="newProject.title" />
                        </span>
                        </td>
                    <td>
                        <span >
                            <input class="selectedInput" type="text" ng-model="newProject.description" />
                        </span>
                    </td>
                    <td>
                        <span >
                            <input class="selectedInput" type="text" ng-model="newProject.start_date" />
                        </span>
                    </td>
                    <td>
                        <span >
                            <input class="selectedInput" type="text" ng-model="newProject.end_date" />
                        </span>
                    </td>
                    <td>
                        <span >
                            <input class="selectedInput" type="text"  ng-model="newProject.is_billable"/>
                        </span>
                    </td>
                    <td>
                        <span>
                            <input class="selectedInput" type="text"  ng-model="newProject.is_active" />
                        </span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="container">

        <button class="btn btn-primary" ng-click="deleteToggle()" ng-disabled="selectedPk == -1 || (state != 0 && state != 2)">
            <span ng-if="state != 2">Delete</span>
            <span ng-if="state == 2">Cancel</span>
        </button>
        <button class="btn btn-primary" ng-if="state == 2" ng-click="deleteProject()">Confirm Delete</button>

        <button class="btn btn-primary" ng-click="editToggle()" ng-disabled="selectedPk == -1 || (state != 0 && state != 1)">
            <span ng-if="state != 1">Edit</span>
            <span ng-if="state == 1">Cancel</span>
        </button>
        <button ng-if="state == 1" class="btn btn-primary" ng-click="saveEdit()">Save Edit</button>

        <button  class="btn btn-primary" ng-click="toggleNew()" ng-disabled="(state != 0 && state != 3)">
            <span ng-if="state != 3">New Record</span>
            <span ng-if="state == 3">Cancel</span>
        </button>
        <button ng-if="state == 3" class="btn btn-primary" ng-click="saveProject()">Save New</button>
        
    </div>
    <div id="tasksContainer">

    </div>
</div>