


.inputError {
    border: 1px solid red;
}

.projectsTable {
    max-height: 420px;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.7);
}

.selectedInput{
    width:100%;
    height:100%;
    border: none;
}
.hidden {
visibility: hidden;
}

.selectedRow {
    background-color: coral;
}

.clickableRow:hover {
    background-color: orange;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.projectTable thead {
    border-bottom: 1px solid black;
}

.projectTable {
    border: 1px solid orange;
}

.orangeBorder {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    background-color: blanchedalmond;
}

.tableDiv {
    margin-bottom: 50px;
}

.editProject {
    margin: 23px;
    float: right;
}

.projectHeader {
    max-width: 470px;
    display: inline-block;
}
/*Responsive change stop card view*/
@media only screen and (max-width: 900px) {

    /* Force table to not be like tables anymore */
    #cardTable table,
    #cardTable thead,
    #cardTable tbody,
    #cardTable th,
    #cardTable td,
    #cardTable tr {
        display: block;
    }

        /* Hide headers */
        #cardTable thead tr {
            display: none;
        }

    #cardTable tr {
        border: 1px solid #ccc;
    }

    #cardTable td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

        #cardTable td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*Labels*/
        #cardTable td:before {
            content: attr(dataTitle);
        }
}


.centerText{
    display: block;
    text-align: center;
}