


.inputError {
    border: 1px solid red;
}

.projectsTable {
    margin-top: 20px;
    max-height: 420px;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.7);
}

.projectsTable > thead {
    background-color: antiquewhite;
}
    
    
.selectedInput {
        width: 100%;
        height: 100%;
        border: none;
    }
.hidden {
visibility: hidden;
}

.selectedRow {
    border: 1px solid coral;
}

.clickableRow:hover {
    background-color: orange;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.projectTable thead {
    border-bottom: 1px solid black;
}



.orangeBorder {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    background-color: blanchedalmond;
}

.tableDiv {
    margin-bottom: 50px;
}

.editProject {
    margin: 23px;
    float: right;
}

.projectHeader {
    max-width: 470px;
    display: inline-block;
}

.taskTable {
    margin-top: 20px;
    background-color: whitesmoke;
}
    .taskTable > thead {
        background-color: antiquewhite;
    }
.centerText{
    background-color: white;
    display: block;
    text-align: center;
}